In [1]:
import pandas as pd
import numpy as np

In [2]:
df_can = pd.read_csv('https://raw.githubusercontent.com/AlienAsUsual/Coursera_Capstone/master/CanadaZipCodes2b.csv')
print('Data downloaded and read into a dataframe!')

Data downloaded and read into a dataframe!

In [3]:
df_can.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [4]:
print('The DataFrame is :\n', df_can)

#get dataframe shape
shape = df_can.shape
print('\nNumber of rows :', shape[0])
print('\nNumber of columns :', shape[1])

The DataFrame is :
     PostalCode      Borough  \
0          M1B  Scarborough
1          M1C  Scarborough
2          M1E  Scarborough
3          M1G  Scarborough
4          M1H  Scarborough
..         ...          ...
98         M9N         York
99         M9P    Etobicoke
100        M9R    Etobicoke
101        M9V    Etobicoke
102        M9W    Etobicoke

                                         Neighbourhood   Latitude  Longitude
0                                       Malvern, Rouge  43.806686 -79.194353
1               Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2                    Guildwood, Morningside, West Hill  43.763573 -79.188711
3                                               Woburn  43.770992 -79.216917
4                                            Cedarbrae  43.773136 -79.239476
..                                                 ...        ...        ...
98                                              Weston  43.706876 -79.518188
99                                           Westmount  43.696319 -79.532242
100  Kingsview Village, St. Phillips, Martin Grove ...  43.688905 -79.554724
101  South Steeles, Silverstone, Humbergate, Jamest...  43.739416 -79.588437
102                Northwest, West Humber - Clairville  43.706748 -79.594054

[103 rows x 5 columns]

Number of rows : 103

Number of columns : 5